body {
  background-color: #f0f0f0;
}

header h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

main {
  width: fit-content;
  margin: 10px auto;
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  padding: 5px;
  margin: 5px;
  border: 2px solid #cdcdcd;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgb(0 0 0 / 6%);
}

form button {
  border-radius: 10px;
  padding: 5px 10px;
  border: solid 1px gray;
}

form button:hover {
  background-color: #008cba;
  color: #e7e7e7;
}
.instruction {
  color: gray;
  text-align: left;
}

.todo-list {
  display: flex;
}

.todo-sub-list {
  min-width: 250px;
  width: 50%;
  margin: 25px;
}

ul {
  padding-left: 0;
}

ul li {
  display: flex;
  border-radius: 15px;
  background-color: #f1f1f1;
  padding: 0 5px;
  margin: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.card-left,
.card-middle,
.card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.card-left input {
  width: 20px;
  height: 20px;
}

.card-middle {
  width: 100%;
  text-align: left;
  white-space: break-spaces;
}

.card-title {
  font-size: large;
  font-weight: bold;
}

.card-content {
  font-size: medium;
}

.deletebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
  line-height: 20px;
}

.errormessage {
  color: red;
}
